@import "tailwindcss";

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-VariableFont_opsz,wght.woff2") format("woff2");
  font-weight: 300 950;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #C5891F;
  --color-primary_dark: #A76E0B;
  --color-background: #0C0C0C;
  --color-gray: #D9D9D9;

  --font-dm_sans: "DM Sans", sans serif;
}

body {
  background-color: #0C0C0C;
  color: #E7EEF2;
  font-family: 'DM Sans', sans-serif;
}

html {
  scroll-margin-top: 100px;
  scroll-behavior: smooth;
}